*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border: 1px solid lightgray;
    margin: 10px 10px 0px 10px;
}

.nav-items > ul{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-items > ul > li{
    list-style-type: none;
    font-size: 22px;
    cursor: pointer;
}


.body{
    margin: 10px 10px 10px 10px;
}

.res-container{
    display: flex;
    margin-top: 10px;
}

/*restaurant card*/

.res-card{
    width: 250px;
    height: 330px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.res-card:hover{
    border: 1px solid lightgray;
}

.res-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.filter-btn{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    background:none;
    cursor: pointer;
}

/*shimmer UI */ 

.shimmer-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shimmer-card{
    width: 250px;
    height: 330px;
    background-color: lightgray;
}

.login{
    width: 70px;
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

/*About page*/

.user-card{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
}

a{
   text-decoration: none;
}