*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border: 1px solid black;
    margin: 10px 10px 0px 10px;
}

.nav-items > ul{
    display: flex;
    gap: 15px;
}

.nav-items > ul > li{
    list-style-type: none;
    font-size: 22px;
    cursor: pointer;
}

.body{
    margin: 10px 10px 10px 10px;
}

.res-container{
    margin-top: 10px;
}

/*restaurant card*/

.res-card{
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.res-card:hover{
    border: 1px solid lightgray;
}

.res-img{
    width: 100%;
}