*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuContainer{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    padding:15px;
}

ul{
    gap: 20px;
}

li{
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}